* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Georgia', serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
header {
    text-align: center;
    margin-bottom: 30px;
}
header h1 {
    font-size: 2.8rem;
    color: #5a3e36;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #7c6f64;
}
nav {
    background: #34495e;
    text-align: center;
    padding: 1rem;
    /* position: absolute; */
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color: antiquewhite;
}
.about {
    margin-top: 10px;
    background-color: #f4f4f4;
    padding: 20px;
    border-left: 6px solid #34495e;
    margin-bottom: 30px;
    border-radius: 8px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.search input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.search button {
    padding: 10px 15px;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #5e3454;
}
section h2 {
  margin-bottom: 15px;
  color: #5a3e36;
  font-size: 1.8rem;
  text-align: center;
}
/* .search-results,
.popular-books,
.favorite-books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
  background-color: #f4f4f4;
  border-left: 6px solid #34495e;
  border-radius: 8px;
  padding: 10px;
} */
.search-results,
.popular-books,
.favorite-books {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    background-color: #f4f4f4;
    border-left: 6px solid #34495e;
    border-radius: 8px;
    padding: 10px;   
}
.search-results button,
.popular-books button,
.favorite-books button {
    padding: 10px 15px;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-results button:hover,
.popular-books button:hover,
.favorite-books button:hover {
    background-color: #5e3454;
}
/* style section added with src */
.book {
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
}